@font-face {
    font-family: "NaniFont";
    src: url(https://cdn.jsdelivr.net/gh/max32002/nanifont@1.036/webfont/NaniFont-Regular.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/gh/max32002/nanifont@1.036/webfont/NaniFont-Regular.woff)
            format("woff");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}
